ul.chores-container {
  display: flex;
  flex-direction: column;
}

.input-chore-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-chore-container:hover {
  background-color: #f6f8f9;
}

.input-chore-container:focus-within {
  background-color: #cbd4db;
}

.chores-container {
  display: flex;
  flex-direction: column;
}

.input-isComplete > input {
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 37px;
  border-radius: 0px;
  margin-left: 4px;
  border: none;
  width: fit-content;
}

.input-isComplete:hover > input {
  border: 1px solid #cbd4db;
  background-color: #fff;
}

.input-isComplete:focus-within > input {
  border: 1px solid #cbd4db;
  background-color: #fff;
}

.chore-input-box {
}

.chore-input-box:hover {
}

.input-isComplete {
  display: flex;
  margin-left: 30px;
  width: 80%;
  gap: 10px;
}

.isComplete-btn {
  /* padding: 5px; */
  align-self: center;
  height: 25px;
  width: 25px;
}

button.selected {
  color: white;
  background-color: #38c872;
}

/* .chore-detail-btn:hover {
  visibility: visible;
} */

/* .chore-detail-btn {
  display: none;
} */

.chore-detail-btn:active {
}

/* .input-chore-container:hover + .chore-detail-btn:hover { */
/* visibility: visible; */
/* display: inline-block; */
/* } */

/* position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    right: -300px;
    transition: all 0.2s linear;
    background-color: whitesmoke;
    box-shadow: 0px 0 8px 1px lightgrey; */

.body-chores {
}

.header-chore {
  align-self: center;
}

h1 {
  font-size: 38px;
}

.chore-name,
.estimated-time,
.assignee-btn,
.description-detailed {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.chores-header {
  display: flex;
  justify-content: center;
}

button.chore-detail-btn {
  margin-right: 30px;
}
