@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

button:hover {
  box-shadow: 0px 0px 2px;
}

button:active {
  transform: translateY(2px);
}
