* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

.login-body {
  display: flex;
  background: #f6f8f9;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgb(21 27 38 / 8%);
  margin-top: 80px;
  max-width: 440px;
  padding: 64px 48px 48px;
}
