* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

.login-body {
  display: flex;
  background: #f6f8f9;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.logo-login-page {
  max-height: 170px;
}

.login-card,
.signup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgb(21 27 38 / 8%);
  margin-top: 80px;
  padding: 46px 46px 56px;
  border-radius: 8px;
}

input {
  font-size: 13px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #cbd4db;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}

.username-container {
  display: flex;
  flex-direction: column;
}

.password-container {
  display: flex;
  flex-direction: column;
}

#login-btn,
#demo-btn {
  width: 40%;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px;
}

.login-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Error handling li styling */
.error-li {
  margin-bottom: 10px;
  color: red;
}

.signup-link {
  margin-top: 40px;
}
