.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.left-side {
  display: flex;
  margin-left: 2%;
  /* margin-top: 6px; */
}

.left-side > * {
  list-style-type: none;
}

.right-side {
  display: flex;
  margin-right: 2%;
}
